In [6]:
import pandas as pd

# Load your data into a Pandas DataFrame (assuming it's in a CSV file)
# Replace 'your_data.csv' with the path to your data file
df = pd.read_excel('/content/b2b_delivered_data.xlsx')
df.head()

,Consignee Name,Address,Area,City-Area,City,Email,Phone,Status,issued Coupon,Order Type,Coupon Discount
0,Muhammad Ahsan,H. No c 183 aashyana quaid housing society Kam...,Bank Stop,Lahore - Ferozpur Road,Lahore,lovlyahsan@gmail.com,923220140785,delivered,-,b2b-retailer,500
1,Khalid Khokhar,Al Makkah Fast Food Chowk saudia khairpur Tame...,Khairpur Tamewali,Khairpur Tamewali,Khairpur Tamewal,khalidkhokhar79@gmail.com,923067815872,delivered,-,b2b-retailer,500
2,ATIF MAHMOOD,House 3 Street 4-A Model Town HMC Road Taxil...,Taxila,Taxila,Taxila,atifmahmood6696@gmail.com,923125261182,delivered,-,b2b-retailer,250
3,Imran,First floor R 2 block f Gulshan e jamal main r...,Askari 4,Karachi - Askari,Karachi,mani926pk@gmail.com,923492985495,delivered,-,b2b-retailer,1500
4,Abdullah Khan,"Safi Mobile Stationers, Opposite Water Filtra...",Harbanspura,Lahore - Harbanspura,Lahore,abdullahkhans321@gmail.com,923224538406,delivered,-,b2b-retailer,500

In [7]:
# Create a dictionary to store the counts of each 'Phone' value
phone_counts = {}

In [8]:
# Iterate through the DataFrame
for index, row in df.iterrows():
    phone = row['Phone']
    discount = row['Coupon Discount']

    # Check if the 'Phone' value has been seen before
    if phone in phone_counts:
        # Increment the count for this 'Phone' value
        phone_counts[phone] += 1

        # Check the first discount value for this 'Phone' value
        if phone_counts[phone] == 2:
            if discount == 500:
                df.at[index, 'Coupon Discount'] = '500 X 2'
            else:
                df.at[index, 'Coupon Discount'] = '500 & ' + str(discount)
        elif phone_counts[phone] == 3:
            if discount == 500:
                df.at[index, 'Coupon Discount'] = '500 X 3'
            else:
                df.at[index, 'Coupon Discount'] = '500 & ' + str(discount)
    else:
        # Initialize the count for this 'Phone' value
        phone_counts[phone] = 1

In [9]:
# Save the updated DataFrame to a new CSV file

print(df.head())
df.to_excel('/content/b2b_delivered_data_updated.xlsx', index=False)

   Consignee Name                                            Address  \
0  Muhammad Ahsan  H. No c 183 aashyana quaid housing society Kam...
1  Khalid Khokhar  Al Makkah Fast Food Chowk saudia khairpur Tame...
2    ATIF MAHMOOD  House  3 Street  4-A Model Town HMC Road Taxil...
3           Imran  First floor R 2 block f Gulshan e jamal main r...
4   Abdullah Khan  Safi Mobile  Stationers, Opposite Water Filtra...

                Area               City-Area              City  \
0          Bank Stop  Lahore - Ferozpur Road            Lahore
1  Khairpur Tamewali       Khairpur Tamewali  Khairpur Tamewal
2             Taxila                  Taxila            Taxila
3           Askari 4        Karachi - Askari           Karachi
4        Harbanspura    Lahore - Harbanspura            Lahore

                        Email         Phone     Status issued Coupon  \
0        lovlyahsan@gmail.com  923220140785  delivered             -
1   khalidkhokhar79@gmail.com  923067815872  delivered             -
2   atifmahmood6696@gmail.com  923125261182  delivered             -
3         mani926pk@gmail.com  923492985495  delivered             -
4  abdullahkhans321@gmail.com  923224538406  delivered             -

     Order Type Coupon Discount
0  b2b-retailer             500
1  b2b-retailer             500
2  b2b-retailer             250
3  b2b-retailer            1500
4  b2b-retailer             500

In [2]:
import pandas as pd
Delivered_Data = pd.read_excel('/content/Delivered_Data_updated.xlsx')

# Find duplicates in a specific column
duplicates = Delivered_Data[Delivered_Data['Phone'].duplicated(keep=False)]

# Display or work with the duplicates DataFrame
print(duplicates)

Empty DataFrame
Columns: [Consignee Name, Address, Area, City-Area, City, Email, Phone, Status, issued Coupon, Order Type, Coupon Discount]
Index: []