In [ ]:
import pandas as pd

# Read the CSV files into dataframes
df1 = pd.read_excel('/content/May_Medium.xlsx')
df2 = pd.read_excel('/content/May_Po_Dump.xlsx')

# Perform an inner join on the specified columns
# This will only include rows where the 'Transaction ID' in df1 matches 'order_id' in df2
merged_df = pd.merge(df1, df2, left_on='Transaction ID', right_on='order_id', how='inner')

# Save the merged dataframe to a new CSV file
merged_df.to_excel('/content/tiktok_may.xlsx', index=False)

# Display the merged dataframe
print(merged_df)

    Transaction ID  Source     Medium  order_id        fullname  \
0          1114792  tiktok   referral   1114792          Yousif
1          1114154  tiktok   referral   1114154      Farhad Ali
2          1114148  tiktok   referral   1114148          RAHEEL
3          1113766  tiktok   referral   1113766    Junaid malik
4          1113758  tiktok   referral   1113758        Syedshah
..             ...     ...        ...       ...             ...
212        1062274  tiktok  (not set)   1062274          Shariq
213        1060926  tiktok   referral   1060926   Ayesha Kashif
214        1060516  tiktok  (not set)   1060516  Muhammad Usman
215        1060409  tiktok  (not set)   1060409   Saima Noureen
216        1059346  tiktok  (not set)   1059346            Fida

                cnic                       product_title  price  \
0                NaN           Dany Airdots 220 Pro Plus   3899
1                NaN              X15 TWS Gaming Earbuds   1649
2                NaN      Air 31 TWS Transparent Earbuds   1199
3                NaN  M10 TWS Wireless Bluetooth Earbuds    999
4                NaN            M28 TWS Wireless Earbuds   1179
..               ...                                 ...    ...
212              NaN                   Mibro Watch Lite2  11999
213              NaN                Jazz Digit E2 Pro 4G   6899
214  42201-5654795-7            Xiaomi Redmi Note 13 Pro  64999
215              NaN  M10 TWS Wireless Bluetooth Earbuds    999
216              NaN                           Vivo Y17s  34999

                           city     status
0                      D.G Khan  delivered
1                   Sheikhupura   returned
2                      Kot Addu   returned
3                       Sialkot  delivered
4                         Matta  delivered
..                          ...        ...
212                  Gujranwala  delivered
213   Karachi - M.A Jinnah Road  delivered
214  Karachi - Gulistan-e-Johar  delivered
215              Pindi Bhattian  delivered
216                     Khanpur  delivered

[217 rows x 10 columns]