In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/content/Florida_Alumni_mails_data.csv')

In [10]:
First_name  = df['EMAIL'].str.split(',', expand=True)
df['First_Name'] = First_name
df

                     EMAIL             First_Name
0          vcavero@ufl.edu        vcavero@ufl.edu
1     elderme@peds.ufl.edu   elderme@peds.ufl.edu
2          modicar@ufl.edu        modicar@ufl.edu
3    sthatayatikom@ufl.edu  sthatayatikom@ufl.edu
4    sthatayatikom@ufl.edu  sthatayatikom@ufl.edu
..                     ...                    ...
341      info@peds.ufl.edu      info@peds.ufl.edu
342      info@peds.ufl.edu      info@peds.ufl.edu
343   mierolh@peds.ufl.edu   mierolh@peds.ufl.edu
344   rosenal@peds.ufl.edu   rosenal@peds.ufl.edu
345       mresnick@ufl.edu       mresnick@ufl.edu

[346 rows x 2 columns]

In [16]:
df["First_Name"] = df["First_Name"].str.replace("@ufl.edu", "")
df["First_Name"] = df["First_Name"].str.replace("@peds.ufl.edu", "")
df["First_Name"] = df["First_Name"].str.replace(".", "")
df

<ipython-input-16-4cb8fad2e3f8>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["First_Name"] = df["First_Name"].str.replace("@ufl.edu", "")
<ipython-input-16-4cb8fad2e3f8>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df["First_Name"] = df["First_Name"].str.replace("@peds.ufl.edu", "")
<ipython-input-16-4cb8fad2e3f8>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["First_Name"] = df["First_Name"].str.replace(".", "")

                     EMAIL     First_Name
0          vcavero@ufl.edu        vcavero
1     elderme@peds.ufl.edu        elderme
2          modicar@ufl.edu        modicar
3    sthatayatikom@ufl.edu  sthatayatikom
4    sthatayatikom@ufl.edu  sthatayatikom
..                     ...            ...
341      info@peds.ufl.edu           info
342      info@peds.ufl.edu           info
343   mierolh@peds.ufl.edu        mierolh
344   rosenal@peds.ufl.edu        rosenal
345       mresnick@ufl.edu       mresnick

[346 rows x 2 columns]

In [17]:
clean_rows = df.drop_duplicates()
clean_rows

                     EMAIL     First_Name
0          vcavero@ufl.edu        vcavero
1     elderme@peds.ufl.edu        elderme
2          modicar@ufl.edu        modicar
3    sthatayatikom@ufl.edu  sthatayatikom
8           shaire@ufl.edu         shaire
..                     ...            ...
336       mresnick@ufl.edu       mresnick
337   rosenal@peds.ufl.edu        rosenal
338       jeffroth@ufl.edu       jeffroth
340   mierolh@peds.ufl.edu        mierolh
341      info@peds.ufl.edu           info

[172 rows x 2 columns]

In [18]:
clean_rows.to_csv('/content/Florida_Alumni_Data_Final.csv')