In [ ]:
"""import pandas as pd
import requests

# Your API key
API_KEY = '7d115cff0dfe2bdbd6250d819c593409'

def get_gender(name):
    # Call the NameAPI to get the gender
    url = f"https://api.nameapi.org/rest/v5.3/genderizer/persongender?apiKey={API_KEY}&name={name}"
    response = requests.get(url)
    if response.status_code == 200:
        result = response.json()
        return result.get('gender', 'unknown')
    else:
        return 'unknown'

# Load your dataset
import pandas as pd

df = pd.read_excel('/content/May_Medium.xlsx')
# Function to get gender from the first word of the fullname
def get_first_name_gender(fullname):
    first_name = fullname.split()[0]  # Get the first word
    return get_gender(first_name)   # Predict gender

# Assume names are in a column named 'fullname'
# Create a new column 'gender' and apply the get_gender function
df['gender'] = df['fullname'].apply(get_gender)

# Save the updated dataset to a new CSV file

"""

In [ ]:
"""df.to_excel('API_genders.xlsx', index=False)

df"""

,Transaction ID,Source,Medium,Unnamed: 3,order_id,fullname,cnic,product_title,price,city,status,gender
0,1114792,tiktok,referral,NaN,1114792,Yousif,NaN,Dany Airdots 220 Pro Plus,3899,D.G Khan,delivered,unknown
1,1114154,tiktok,referral,NaN,1114154,Farhad Ali,NaN,X15 TWS Gaming Earbuds,1649,Sheikhupura,returned,unknown
2,1114148,tiktok,referral,NaN,1114148,RAHEEL,NaN,Air 31 TWS Transparent Earbuds,1199,Kot Addu,returned,unknown
3,1113766,tiktok,referral,NaN,1113766,Junaid malik,NaN,M10 TWS Wireless Bluetooth Earbuds,999,Sialkot,delivered,unknown
4,1113758,tiktok,referral,NaN,1113758,Syedshah,NaN,M28 TWS Wireless Earbuds,1179,Matta,delivered,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
212,1062274,tiktok,(not set),NaN,1062274,Shariq,NaN,Mibro Watch Lite2,11999,Gujranwala,delivered,unknown
213,1060926,tiktok,referral,NaN,1060926,Ayesha Kashif,NaN,Jazz Digit E2 Pro 4G,6899,Karachi - M.A Jinnah Road,delivered,unknown
214,1060516,tiktok,(not set),NaN,1060516,Muhammad Usman,42201-5654795-7,Xiaomi Redmi Note 13 Pro,64999,Karachi - Gulistan-e-Johar,delivered,unknown
215,1060409,tiktok,(not set),NaN,1060409,Saima Noureen,NaN,M10 TWS Wireless Bluetooth Earbuds,999,Pindi Bhattian,delivered,unknown
216,1059346,tiktok,(not set),NaN,1059346,Fida,NaN,Vivo Y17s,34999,Khanpur,delivered,unknown

In [1]:
!pip install gender-guesser

Collecting gender-guesser
  Downloading gender_guesser-0.4.0-py2.py3-none-any.whl (379 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 379.3/379.3 kB 7.0 MB/s eta 0:00:00
Installing collected packages: gender-guesser
Successfully installed gender-guesser-0.4.0

In [ ]:
import gender_guesser.detector as gender
d = gender.Detector()
print(d.get_gender(u"Arshad"))

male

In [ ]:
import pandas as pd
import gender_guesser.detector as gender
data = pd.read_excel('/content/March_Medium.xlsx')
# Initialize the gender detector
d = gender.Detector()

# Function to get gender from the first word of the fullname
def get_first_name_gender(fullname):
    first_name = fullname.split()[0]  # Get the first word
    return d.get_gender(first_name)   # Predict gender

# Apply the function to the 'fullname' column
data['gender'] = data['fullname'].apply(get_first_name_gender)

print(data)
data.to_excel('/content/March_tiktok.xlsx', index  = False)

     Transaction ID      Source     Medium  Unnamed: 3  order_id  \
0            994166      tiktok   referral         NaN    994166
1            993931      tiktok  (not set)         NaN    993931
2            993532      tiktok   referral         NaN    993532
3            993153      tiktok  (not set)         NaN    993153
4            992485      tiktok   referral         NaN    992485
..              ...         ...        ...         ...       ...
682          927417  tiktok.com   referral         NaN    927417
683          927338      tiktok   referral         NaN    927338
684          927328  tiktok.com   referral         NaN    927328
685          927313      tiktok   referral         NaN    927313
686          927297      tiktok   referral         NaN    927297

          fullname             cnic                       product_title  \
0          M Qasim              NaN       itel Wireless Earbuds (KT-01)
1     Zagham Abbas              NaN              T800 Ultra Smart Watch
2       Malik Atta              NaN                          Realme C67
3        Iqra raza  42401-9082612-0                  Samsung Galaxy A14
4    Mohammed Arif              NaN       Infinix XE22 Wireless Earbuds
..             ...              ...                                 ...
682     Hamza rana              NaN                      Realme Note 50
683      Nawab ali              NaN        Ronin R-520 Wireless Earbuds
684        Asadali              NaN             Apple iPhone 14 Pro Max
685   Shahbaz alam              NaN      Airs Pro TWS Bluetooth Earbuds
686        Zeeshan              NaN  M10 TWS Wireless Bluetooth Earbuds

      price                        city                        status   gender
0      2149            Lahore - Shahdra                     delivered  unknown
1      1799    Rawalpindi - Murree Road                     delivered  unknown
2     36599          Rawalpindi - Other                     delivered     male
3     31999  Karachi - Gulistan-e-Johar      cancelled_not_interested  unknown
4      2799       Karachi - Orangi Town      cancelled_not_interested     male
..      ...                         ...                           ...      ...
682   22899     Lahore - Gulshan-e-Ravi  cancelled_number_unreachable     male
683    4699                 Migora Swat                     delivered  unknown
684  499999                       Jhang  cancelled_number_unreachable  unknown
685    1249           Karachi - S.I.T.E                     delivered     male
686    1099                      Kalyal  cancelled_number_unreachable     male

[687 rows x 12 columns]

**For Bulk Data**

In [5]:
import pandas as pd
import gender_guesser.detector as gender

# Load the data
data = pd.read_excel('/content/may-05.xlsx')

# Initialize the gender detector
d = gender.Detector()

# Function to get gender from the first word of the fullname
def get_first_name_gender(fullname):
    if isinstance(fullname, str):
        first_name = fullname.split()[0]  # Get the first word
        return d.get_gender(first_name)   # Predict gender
    else:
        return 'unknown'  # Return 'unknown' if the fullname is not a string

# Process data in batches of 200
batch_size = 200
num_batches = len(data) // batch_size + (1 if len(data) % batch_size != 0 else 0)

# Initialize an empty DataFrame to store the results
result_data = pd.DataFrame()

for i in range(num_batches):
    start_idx = i * batch_size
    end_idx = min((i + 1) * batch_size, len(data))
    batch = data.iloc[start_idx:end_idx].copy()  # Get the current batch

    # Apply the function to the 'fullname' column for the current batch
    batch['gender'] = batch['fullname'].apply(get_first_name_gender)

    # Append the processed batch to the result DataFrame
    result_data = pd.concat([result_data, batch], ignore_index=True)

print(result_data)
result_data.to_excel('/content/may_gender_recognizer.xlsx', index=False)

       order_id         fullname             cnic  \
0       1057544  Muhammad kashif  33102-8387735-1
1       1057545    Zainab Shahid              NaN
2       1057546     Faraz Zuberi              NaN
3       1057547         Naintara              NaN
4       1057548      Syed Shahid              NaN
...         ...              ...              ...
57553   1114847      AttauRehman  21406-1230997-1
57554   1114848  Muhammad Nouman              NaN
57555   1114849     Ashhad Naeem              NaN
57556   1114850      AhmedHussan              NaN
57557   1114851     Abdul Jabbar  35102-0628588-1

                                   product_title   price                 city  \
0                       Samsung Galaxy S24 Ultra  413999    Faisalabad - City
1                           Xiaomi Redmi Note 12   43699  Lahore - Wapda Town
2                        YOLO Ultron Smart Watch    7699    Karachi - Clifton
3              T10 Ultra Bluetooth Calling Watch    1749               Multan
4                           Xiaomi Redmi Note 13   50999              Larkana
...                                          ...     ...                  ...
57553  Apple AirPods Pro (2nd generation) Type C   59999                Bannu
57554                         Samsung Galaxy A15   50499  Islamabad - Highway
57555                             Tecno Camon 30   50999  Lahore - Johar Town
57556              Infinix XE22 Wireless Earbuds    2599          Chichawatni
57557                         Samsung Galaxy A15   44999               Jhelum

                    status   gender
0      cancelled_abandoned     male
1                delivered   female
2                delivered  unknown
3                delivered  unknown
4                delivered     male
...                    ...      ...
57553            delivered  unknown
57554            delivered     male
57555            delivered  unknown
57556             returned  unknown
57557            delivered     male

[57558 rows x 8 columns]

In [ ]:
import pandas as pd
import gender_guesser.detector as gender

# Load the data
data = pd.read_excel('/content/May_Medium.xlsx')

# Initialize the gender detector
d = gender.Detector()

# Function to get gender from the first word of the fullname
def get_first_name_gender(fullname):
    if isinstance(fullname, str):
        first_name = fullname.split()[0]  # Get the first word
        return d.get_gender(first_name)   # Predict gender
    else:
        return 'unknown'  # Return 'unknown' if the fullname is not a string

# Process data in batches of 200
batch_size = 200
num_batches = len(data) // batch_size + (1 if len(data) % batch_size != 0 else 0)

# Initialize an empty DataFrame to store the results
result_data = pd.DataFrame()

for i in range(num_batches):
    start_idx = i * batch_size
    end_idx = min((i + 1) * batch_size, len(data))
    batch = data.iloc[start_idx:end_idx].copy()  # Get the current batch

    # Apply the function to the 'fullname' column for the current batch
    batch['gender'] = batch['fullname'].apply(get_first_name_gender)

    # Append the processed batch to the result DataFrame
    result_data = pd.concat([result_data, batch], ignore_index=True)

# Retry processing 'unknown' genders up to 5 times
max_retries = 5
for attempt in range(max_retries):
    # Find rows with 'unknown' gender
    unknown_genders = result_data[result_data['gender'] == 'unknown']
    if unknown_genders.empty:
        break  # Exit if no 'unknown' genders are found

    # Reprocess 'unknown' genders
    for idx, row in unknown_genders.iterrows():
        result_data.at[idx, 'gender'] = get_first_name_gender(row['fullname'])

print(result_data)
result_data.to_excel('/content/May_google.xlsx', index=False)

       Transaction ID  Source   Medium  Unnamed: 3  order_id         fullname  \
0             1114848  google  organic         NaN   1114848  Muhammad Nouman
1             1114844  google  organic         NaN   1114844      Bilal zafar
2             1114839  google  organic         NaN   1114839         Ehsan Ul
3             1114835  google  organic         NaN   1114835            Roman
4             1114831  google  organic         NaN   1114831      waqas Ahmed
...               ...     ...      ...         ...       ...              ...
22748         1057550  google  organic         NaN   1057550         M Junaid
22749         1057549  google  organic         NaN   1057549      Hassan Raza
22750         1057548  google  organic         NaN   1057548      Syed Shahid
22751         1057546  google  organic         NaN   1057546     Faraz Zuberi
22752         1057545  google  organic         NaN   1057545    Zainab Shahid

                  cnic             product_title   price  \
0                  NaN        Samsung Galaxy A15   50499
1      34501-4106094-5  Samsung Galaxy S24 Ultra  392000
2                  NaN      Xiaomi Redmi Note 13   49999
3                  NaN    T900 Ultra Smart Watch    1649
4                  NaN  T900 Ultra 2 Smart Watch    1649
...                ...                       ...     ...
22748              NaN      Infinix Smart 8 Plus   22999
22749              NaN    Realme Narzo 50A Prime   23799
22750              NaN      Xiaomi Redmi Note 13   50999
22751              NaN   YOLO Ultron Smart Watch    7699
22752              NaN      Xiaomi Redmi Note 12   43699

                       city                       status   gender
0       Islamabad - Highway                    delivered     male
1                   Narowal                    delivered     male
2                  D.G Khan                    delivered     male
3      Lahore - Garhi Shahu                     returned     male
4                    Gujrat                    delivered  unknown
...                     ...                          ...      ...
22748            Kaloor Kot  cancelled_already_purchased  unknown
22749              Mianwali                    delivered     male
22750               Larkana                    delivered     male
22751     Karachi - Clifton                    delivered  unknown
22752   Lahore - Wapda Town                    delivered   female

[22753 rows x 12 columns]