In [1]:
from sklearn import datasets
wine = datasets.load_wine()

In [2]:
dir(wine)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [3]:
wine.data[0:2]

array([[1.423e+01, 1.710e+00, 2.430e+00, 1.560e+01, 1.270e+02, 2.800e+00,
        3.060e+00, 2.800e-01, 2.290e+00, 5.640e+00, 1.040e+00, 3.920e+00,
        1.065e+03],
       [1.320e+01, 1.780e+00, 2.140e+00, 1.120e+01, 1.000e+02, 2.650e+00,
        2.760e+00, 2.600e-01, 1.280e+00, 4.380e+00, 1.050e+00, 3.400e+00,
        1.050e+03]])

In [4]:
wine.feature_names

['alcohol',
 'malic_acid',
 'ash',
 'alcalinity_of_ash',
 'magnesium',
 'total_phenols',
 'flavanoids',
 'nonflavanoid_phenols',
 'proanthocyanins',
 'color_intensity',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline']

In [5]:
wine.target[0:2]

array([0, 0])

In [6]:
import pandas as pd
df = pd.DataFrame(wine.data,columns=wine.feature_names)
df.head()

   alcohol  malic_acid   ash  ...   hue  od280/od315_of_diluted_wines  proline
0    14.23        1.71  2.43  ...  1.04                          3.92   1065.0
1    13.20        1.78  2.14  ...  1.05                          3.40   1050.0
2    13.16        2.36  2.67  ...  1.03                          3.17   1185.0
3    14.37        1.95  2.50  ...  0.86                          3.45   1480.0
4    13.24        2.59  2.87  ...  1.04                          2.93    735.0

[5 rows x 13 columns]

In [7]:
df['target'] = wine.target
df[50:70]

    alcohol  malic_acid   ash  ...  od280/od315_of_diluted_wines  proline  target
50    13.05        1.73  2.04  ...                          2.91   1150.0       0
51    13.83        1.65  2.60  ...                          3.37   1265.0       0
52    13.82        1.75  2.42  ...                          3.26   1190.0       0
53    13.77        1.90  2.68  ...                          2.93   1375.0       0
54    13.74        1.67  2.25  ...                          3.20   1060.0       0
55    13.56        1.73  2.46  ...                          3.03   1120.0       0
56    14.22        1.70  2.30  ...                          3.31    970.0       0
57    13.29        1.97  2.68  ...                          2.84   1270.0       0
58    13.72        1.43  2.50  ...                          2.87   1285.0       0
59    12.37        0.94  1.36  ...                          1.82    520.0       1
60    12.33        1.10  2.28  ...                          1.67    680.0       1
61    12.64        1.36  2.02  ...                          1.59    450.0       1
62    13.67        1.25  1.92  ...                          2.46    630.0       1
63    12.37        1.13  2.16  ...                          2.87    420.0       1
64    12.17        1.45  2.53  ...                          2.23    355.0       1
65    12.37        1.21  2.56  ...                          2.30    678.0       1
66    13.11        1.01  1.70  ...                          3.18    502.0       1
67    12.37        1.17  1.92  ...                          3.48    510.0       1
68    13.34        0.94  2.36  ...                          1.93    750.0       1
69    12.21        1.19  1.75  ...                          3.07    718.0       1

[20 rows x 14 columns]

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(wine.data, wine.target, test_size=0.3, random_state=100)

In [9]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB
model = GaussianNB()
model.fit(X_train,y_train)

GaussianNB()

In [10]:
model.score(X_test,y_test)

1.0

In [11]:
mn = MultinomialNB()
mn.fit(X_train,y_train)
mn.score(X_test,y_test)

0.7777777777777778