In [2]:
import pandas as pd
df = pd.read_csv('winequalityN.csv')
df

       type  fixed acidity  volatile acidity  ...  sulphates  alcohol  quality
0     white            7.0             0.270  ...       0.45      8.8        6
1     white            6.3             0.300  ...       0.49      9.5        6
2     white            8.1             0.280  ...       0.44     10.1        6
3     white            7.2             0.230  ...       0.40      9.9        6
4     white            7.2             0.230  ...       0.40      9.9        6
...     ...            ...               ...  ...        ...      ...      ...
6492    red            6.2             0.600  ...       0.58     10.5        5
6493    red            5.9             0.550  ...        NaN     11.2        6
6494    red            6.3             0.510  ...       0.75     11.0        6
6495    red            5.9             0.645  ...       0.71     10.2        5
6496    red            6.0             0.310  ...       0.66     11.0        6

[6497 rows x 13 columns]

In [3]:
df.describe()

       fixed acidity  volatile acidity  ...      alcohol      quality
count    6487.000000       6489.000000  ...  6497.000000  6497.000000
mean        7.216579          0.339691  ...    10.491801     5.818378
std         1.296750          0.164649  ...     1.192712     0.873255
min         3.800000          0.080000  ...     8.000000     3.000000
25%         6.400000          0.230000  ...     9.500000     5.000000
50%         7.000000          0.290000  ...    10.300000     6.000000
75%         7.700000          0.400000  ...    11.300000     6.000000
max        15.900000          1.580000  ...    14.900000     9.000000

[8 rows x 12 columns]

**Here Below I used Lamda Function to create a new Column, Extracting from Column 1**

In [4]:
df['white']= df['type'].apply(lambda x: 1 if x=='white' else 0)
df

       type  fixed acidity  volatile acidity  ...  alcohol  quality  white
0     white            7.0             0.270  ...      8.8        6      1
1     white            6.3             0.300  ...      9.5        6      1
2     white            8.1             0.280  ...     10.1        6      1
3     white            7.2             0.230  ...      9.9        6      1
4     white            7.2             0.230  ...      9.9        6      1
...     ...            ...               ...  ...      ...      ...    ...
6492    red            6.2             0.600  ...     10.5        5      0
6493    red            5.9             0.550  ...     11.2        6      0
6494    red            6.3             0.510  ...     11.0        6      0
6495    red            5.9             0.645  ...     10.2        5      0
6496    red            6.0             0.310  ...     11.0        6      0

[6497 rows x 14 columns]

**Same as Dummy function**

In [5]:
df['red']= df['type'].apply(lambda x: 1 if x=='red' else 0)
df

       type  fixed acidity  volatile acidity  ...  quality  white  red
0     white            7.0             0.270  ...        6      1    0
1     white            6.3             0.300  ...        6      1    0
2     white            8.1             0.280  ...        6      1    0
3     white            7.2             0.230  ...        6      1    0
4     white            7.2             0.230  ...        6      1    0
...     ...            ...               ...  ...      ...    ...  ...
6492    red            6.2             0.600  ...        5      0    1
6493    red            5.9             0.550  ...        6      0    1
6494    red            6.3             0.510  ...        6      0    1
6495    red            5.9             0.645  ...        5      0    1
6496    red            6.0             0.310  ...        6      0    1

[6497 rows x 15 columns]

In [6]:
df.drop(['type','fixed acidity','volatile acidity','chlorides','free sulfur dioxide','total sulfur dioxide','density', 'sulphates','alcohol', 'quality'],axis='columns',inplace=True)
df.head()

   citric acid  residual sugar    pH  white  red
0         0.36            20.7  3.00      1    0
1         0.34             1.6  3.30      1    0
2         0.40             6.9  3.26      1    0
3         0.32             8.5  3.19      1    0
4         0.32             8.5  3.19      1    0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   citric acid     6494 non-null   float64
 1   residual sugar  6495 non-null   float64
 2   pH              6488 non-null   float64
 3   white           6497 non-null   int64
 4   red             6497 non-null   int64
dtypes: float64(3), int64(2)
memory usage: 253.9 KB

**Float data to Integer**

In [8]:
import math
import numpy as np

df['citric acid']  = df['citric acid'].apply(np.ceil)
df['residual sugar']  = df['residual sugar'].apply(np.ceil)
df['pH']  = df['pH'].apply(np.ceil)
df.head()

   citric acid  residual sugar   pH  white  red
0          1.0            21.0  3.0      1    0
1          1.0             2.0  4.0      1    0
2          1.0             7.0  4.0      1    0
3          1.0             9.0  4.0      1    0
4          1.0             9.0  4.0      1    0

In [9]:


df['soft drink']= df['pH'].apply(lambda x: 1 if x>=4 else 0)

df.head()

   citric acid  residual sugar   pH  white  red  soft drink
0          1.0            21.0  3.0      1    0           0
1          1.0             2.0  4.0      1    0           1
2          1.0             7.0  4.0      1    0           1
3          1.0             9.0  4.0      1    0           1
4          1.0             9.0  4.0      1    0           1

In [33]:
X = df['pH']
y = df['soft drink']

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train,test_size=0.2)

In [40]:
X_train= X_train.reshape(-1, 1)
y_train= y_train.reshape(-1, 1)
X_test = X_test.reshape(-1, 1)

AttributeError: ignored

In [36]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(X, y)
MultinomialNB(alpha=1.0, fit_prior=True)
print(clf.predict(X[2]))

ValueError: ignored

In [18]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train ,y_train)

ValueError: ignored