In [99]:
!pip install nltk
!pip install seaborn
!pip install matplotlib
import pandas as pd
import nltk
import seaborn as sea
import matplotlib as plt

Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (3.8.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk) (8.1.6)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk) (1.3.1)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk) (2022.10.31)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk) (4.65.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /usr/local/lib/python3.10/dist-packages (from seaborn) (1.22.4)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.10/dist-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /usr/local/lib/python3.10/dist-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.41.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.1.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25->seaborn) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.41.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (3.1.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [100]:
#read the data
data = pd.read_excel('/content/1_7_23(Sheet).xlsx')
data.head()

,address,area,city,status,Result
0,H E 863 Fatihabad,Cavalry Ground Extension,Lahore Cantt,delivered,0
1,Cavalry ground street 1 villa 1A NA Home,Cavalry Ground Extension,Lahore Cantt,delivered,0
2,House No 152A Street No 6 Block A,Nishat Colony,Lahore Cantt,delivered,0
3,House no E96d Ali lane street no 7,Cavalry Ground Extension,Lahore Cantt,delivered,0
4,House no E96d Ali lane street no 7,Cavalry Ground Extension,Lahore Cantt,delivered,0

**Address's Column Core Stuff**

Core_Strings = ['H','House', 'HOUSE', 'h', 'flat', 'Flat', 'room', 'Room', 'Block', 'block', 'shop', 'Shop', 'Plot', 'plot'
,'Street', 'st', 'street']

**Street in Address Column**

In [101]:
#Firstly, drop Na and Nan Values
df = data.dropna()
print("\nMatch if  a given column has a particular sub string:")
street_in_address = df[df['address'].str.contains('STREET', na=False)]
#street_in_address  # Total Count 1038
street_in_address[street_in_address['Result']==2]
street_in_address['Result'].value_counts()

Match if  a given column has a particular sub string:

0    40
1     2
Name: Result, dtype: int64

****shop in Address Column****

In [102]:
#Firstly, drop Na and Nan Values
df = data.dropna()
print("\nMatch if  a given column has a particular sub string:")
shop_in_address = df[df['address'].str.contains('shop', na=False)]

#shop_in_address[shop_in_address['Result']==0]
shop_in_address['Result'].value_counts()

Match if  a given column has a particular sub string:

0    94
1    30
2     5
Name: Result, dtype: int64

**Flat in Address Column**

In [103]:
#Firstly, drop Na and Nan Values
df = data.dropna()
print("\nMatch if  a given column has a particular sub string:")
flat_in_address = df[df['address'].str.contains('Flat', na=False)]

#shop_in_address[shop_in_address['Result']==0]
flat_in_address['Result'].value_counts()

Match if  a given column has a particular sub string:

0    485
1      1
2      1
Name: Result, dtype: int64

**Room in Address Column**

In [104]:
#Firstly, drop Na and Nan Values
df = data.dropna()
print("\nMatch if  a given column has a particular sub string:")
room_in_address = df[df['address'].str.contains('Room', na=False)]

#shop_in_address[shop_in_address['Result']==0]
room_in_address['Result'].value_counts()

Match if  a given column has a particular sub string:

0    71
1     3
2     2
Name: Result, dtype: int64

**Block in Address Column**

In [105]:
#Firstly, drop Na and Nan Values
df = data.dropna()
print("\nMatch if  a given column has a particular sub string:")
block_in_address = df[df['address'].str.contains('block', na=False)]

#shop_in_address[shop_in_address['Result']==0]
block_in_address['Result'].value_counts()

Match if  a given column has a particular sub string:

0    992
1     39
2     10
Name: Result, dtype: int64

**plot in address column**

In [106]:
#Firstly, drop Na and Nan Values
df = data.dropna()
print("\nMatch if  a given column has a particular sub string:")
house_and_street_in_address = df[df['address'].str.contains('house street', na=False)]

#shop_in_address[shop_in_address['Result']==0]
house_and_street_in_address['Result'].value_counts()

Match if  a given column has a particular sub string:

0    1
1    1
Name: Result, dtype: int64

In [107]:
#Firstly, drop Na and Nan Values
df = data.dropna()
print("\nMatch if  a given column has a particular sub string:")
flat_in_address = df[df['address'].str.contains('flat', na=False)]

#shop_in_address[shop_in_address['Result']==0]
flat_in_address['Result'].value_counts()

Match if  a given column has a particular sub string:

0    174
1      4
Name: Result, dtype: int64

**Create a string, and check the frequency of each word**

In [108]:
#Firstly, drop Na and Nan Values
df = data.dropna()

mostly_used_words_in_address_column = ['flat','house','plot','House','PLOT','HOUSE','FLAT']
print("\nMatch if  a given column has a particular sub string:")

for i in mostly_used_words_in_address_column:
  plot_in_address = df[df['address'].str.contains(i, na=False)]

#shop_in_address[shop_in_address['Result']==0]
plot_in_address['Result'].value_counts()

Match if  a given column has a particular sub string:

0    18
Name: Result, dtype: int64

In [109]:
#read the data
df = pd.read_excel('/content/Address_Validation_API_Overall.xlsx')
df['Address'].head()
dataset = df['Address']

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Address             9998 non-null   object
 1   Area                10000 non-null  object
 2   City                10000 non-null  object
 3   Status              10000 non-null  object
 4   Result              10000 non-null  int64
 5   Address_validation  10000 non-null  object
dtypes: int64(1), object(5)
memory usage: 468.9+ KB

In [111]:
Core_Strings = ['H','House', 'HOUSE', 'h', 'flat', 'Flat', 'room', 'Room', 'Block', 'block', 'shop', 'Shop', 'Plot', 'plot'
,'Street', 'st', 'street']

# Initialize a new column with all zeros
df['has_core_string'] = 0

# Loop through each core string
for core in Core_Strings:
    # Update rows that contain the core string to have a value of 1
    df.loc[df.Address.str.contains(core, case=False, na=False), 'has_core_string'] = 1

# Print the updated DataFrame
print(df.head())

df.to_excel('/content/core_string_containing.xlsx', index= False)

                                    Address                      Area  \
0                        H E 863 Fatihabad   Cavalry Ground Extension
1  Cavalry ground street 1 villa 1A NA Home  Cavalry Ground Extension
2         House No 152A Street No 6 Block A             Nishat Colony
3        House no E96d Ali lane street no 7  Cavalry Ground Extension
4       House no E96d Ali lane street no 7   Cavalry Ground Extension

            City     Status  Result Address_validation  has_core_string
0  Lahore  Cantt  delivered       0                Yes                1
1  Lahore  Cantt  delivered       0                Yes                1
2  Lahore  Cantt  delivered       0                Yes                1
3  Lahore  Cantt  delivered       0                Yes                1
4  Lahore  Cantt  delivered       0                Yes                1

**Get the Specializd Words in Address's Column**